.logo{
    align-self:center;
    display:flex;
    flex:none;
    margin:0;
}
.logo .site-icon-rect{
    align-items:center;
    border-radius:4px;
    display:flex;
    height:40px;
    justify-content:center;
    width:40px;
}
.light-theme .logo .site-icon-rect{
    background:#11659e;
}
.dark-theme .logo .site-icon-rect{
    background:#7cc4e3;
}
.logo .site-icon-w{
    font-family:Mulish,sans-serif;
    font-size:27px;
    font-weight:700;
    left:6px;
    letter-spacing:.16em;
    line-height:35px;
    position:relative;
    top:0;
    -webkit-transform:translateX(-3px) rotate(-11deg);
    transform:translateX(-3px) rotate(-11deg);
}
.light-theme .logo .site-icon-w{
    background:transparent;
    color:#c9f0ff;
}
.dark-theme .logo .site-icon-w{
    background:transparent;
    color:#135380;
}
.logo .site-name{
    align-self:center;
    flex:none;
    font-size:28px;
    font-weight:900;
    letter-spacing:-.03em;
    line-height:35px;
    margin:0 12px;
    text-transform:none;
}
.mode--default .logo .site-name{
    color:#11659e;
}
.dark-theme .logo .site-name{
    color:#7cc4e3
}

.menu {
    border-right: 0px solid;
}